name: Start Resources

on:
  workflow_dispatch:

jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v1'

      - name: Start VM
        run: |
          echo "Starting VM..."
          gcloud compute instances start ping-pong-vm --zone=us-central1-a

      - name: Start Cloud SQL
        run: |
          INSTANCE_NAME=$(gcloud sql instances list --format="value(name)" --filter="name:ping-pong-mysql-instance*")
          if [ -n "$INSTANCE_NAME" ]; then
            echo "Starting SQL Instance: $INSTANCE_NAME"
            gcloud sql instances patch $INSTANCE_NAME --activation-policy=ALWAYS
          else
            echo "No matching SQL instance found."
          fi
